body,
html {
  font-family: "Fredoka", sans-serif;
  font-size: 18px;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #777;
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
}

h2,
h3,
h4 {
  font-family: "Fredoka", sans-serif;
  font-weight: bold;
}

h2 {
  padding-top: 2rem;
  font-weight: 800;
  font-size: 36px;
  color: #333;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .intro h1 {
    font-size: 48px;
  }

  p {
    width: 85%;
    margin-left: 1.5rem;
    font-size: 18px;
  }

  #about img {
    width: 100%;
  }

  #about h2 {
    text-align: center;
    position: relative;
  }

  #about h2::after {
    margin-left: 8px;
    left: 40%;
    position: absolute;
  }

  #about p {
    margin-left: 8%;
  }

  .big-heading {
    font-size: 2rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #about {
    padding: 1rem 0 3rem 0;
  }

  #about img {
    width: 100%;
    margin: 5rem 0 0 0;
  }

  #about h2 {
    text-align: center;
    position: relative;
  }

  #about h2::after {
    margin-left: 8px;
    left: 40%;
    position: absolute;
  }

  #about p {
    margin: 2rem 0.5rem 0 0.5rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .section-title h2 {
    margin-left: 20%;
  }

  #about {
    padding-bottom: 4rem;
  }

  #about p {
    width: 99%;
    margin-left: 2rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #about p {
    width: 90%;
  }
}
