#features {
  background: #f6f6f6;
  padding-bottom: 30px;
}

#features i.fa {
  font-size: 38px;
  margin-bottom: 20px;
  transition: all 0.5s;
  color: #fff;
  width: 100px;
  height: 100px;
  padding: 30px 0;
  border-radius: 50%;
  background: linear-gradient(to right, #019267 0%, #00c897 100%);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}

.section-title {
  margin-bottom: 70px;
}

.section-title h2 {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.section-title h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #019267 0%, #00c897 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
  border-radius: 10px;
}
