#footer {
  text-align: center;
}

#footer a {
  text-decoration: none;
}

#footer .container-fluid {
  padding: 3%;
}

.colored-section {
  background-color: #019267;
  color: #fff;
  text-align: center;
  padding: 5%;
}

.cta-button {
  margin: 5% 2% 3% 0;
}

.social-icon {
  margin: 20px 10px;
}

.big-heading {
  font-size: 2.5rem;
  line-height: 1;
}
