.intro {
  display: table;
  width: 100%;
  padding: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url(../../../public/images/intro-bg.jpeg) center center no-repeat;
  background-color: #e5e5e5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  position: relative;
}

.intro .overlay {
  background: rgba(0, 0, 0, 0.2);
}

.intro h1 {
  font-family: "Balsamiq Sans", cursive;
  color: #fff;
  font-size: 80px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
  background-color: #198754;
  padding: 2%;
  border-radius: 15px;
}

.intro p {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 60px;
  text-shadow: 2px 2px 5px #242424;
}

header .intro-text {
  padding-top: 350px;
  padding-bottom: 350px;
  text-align: center;
}

.intro-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
